* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, monospace;
}

.site-main {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #515076;
}

a {
    text-decoration: none;
    color: inherit
}

.title {
    font-size: 70px;
    line-height: 78px;
    text-align: center;
}

.catalog {
    padding-top: 220px;
    margin: auto;
    width: 1110px;
    background-image: url("src/images/bg-flowers.png");
    background-size: 790px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    position: relative;
    z-index: 0;
}

#product-cards-list {
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    
}

.product-card {
    list-style-type: none;
    width: 340px;
    height: 573px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;
}

.ingredient {
    list-style-type: circle;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-position: inside;
}

.product-price {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.price-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.price-value {
    font-size: 20px;
    line-height: 24px;
}

.button {
    font-size: 20px;
    border-width: 1px;
    border-color: #A5A3B9;
    border-radius: 4px;
    height: 50px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.button-new-color {
    background-color: aquamarine;
}

.genius-footer {
    margin-top: 42px;
}

.wrapper {
    background-color: #3A3A3A;
    padding-top: 85px;
    width: 1728px;
    height: 477px;
    margin: auto;
    color: #FFFFFF;
    
}

.footer-top-line {
    width: 1569px;
    height: 147px;
    margin-top: 85px;
    margin-bottom: 245px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.footer-logo {
    width: 409px;
    height: 87px;
    margin-right: 132px;
}

.footer-logo-header {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 16px;
}

.footer-logo-text {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 42px;
}

.footer-logo-img {
    margin-right: 30px
}

.footer-subscription {
    width: 477px;
    height: 103px;
    margin-right: 373px;
}

.footer-subscription-header {
    font-size: 24px;
    margin-bottom: 13px;
    text-align: center;
}

.footer-subscription-buttons {
    background-color: #FFFFFF;
    width: 477px;
    height: 61px;
    border-radius: 10px;
}

.input-email {
    border: none;
    height: 17px;
    margin: 22px 100px 22px 36px;
    font-size: 14px;
    color: #000000
}

.footer-subscription-line {
    width: 0px;
    height: 18px;
    border: 1px solid black;
    position: relative;
    top: -40px;
    left: 317px;
    z-index: 1;
}

.button-subscription {
    background-color: #FFFFFF;
    font-size: 18px;
    border-style: none;
}

.footer-menu {
    width: 178px;
    height: 147px;
}

.footer-menu-header {
    font-size: 20px;
    margin-bottom: 23px;
}

.menu-li {
    list-style-type: none;
    margin-bottom: 17px;
}

.footer-bottom-line {
    margin-top: 195px;
    text-align: center;
}

.footer-bottom-hr {
    width: 66px;
    margin: auto;
    position: relative;
    top: -33px;
    z-index: 1;
}
